<!-- <H4>This is the begining of App component</H4>
<h1>hello world</h1>
<h4>This is the End of App Component</h4>
<lca-vehicle></lca-vehicle> -->
<!-- ngSwitch Structural directive -->
<!-- <div [ngSwitch]="this.role">
  <div *ngSwitchCase="'User'">Welcome User</div>
  <div *ngSwitchCase="'Admin'">
    <lca-vehicle></lca-vehicle>
  </div>
  <div *ngSwitchDefault>You are not authorized to view this page</div>
</div> -->
<!-- <div #div_id></div>
<div>
  <ng-template #user></ng-template>
</div> -->
<!-- <lca-quote-form></lca-quote-form> -->
<h1>This is a refactored home page</h1>
