<div
  [ngClass]="e ? 'even' : 'odd'"
  *ngFor="let vehicle of vehiclesList; let e = even; let o = odd; let i = index"
>
  {{ this.vehicle.brand | titlecase }}
  ||
  {{ this.vehicle.model | lowercase }}
  {{ e ? "" : "odd" }}
  {{ o ? "" : "even" }}
  ||
  {{ i | currency }}
  ||
  {{ i | percent }}
  ||
  {{ 4.123456789 | number : "1.0-5" }}
  ||
  {{ 4123456789 | number : "1.0-5" : "en-US" }}
  ||
  <button class="btn btn-primary" (click)="selectVehicle(vehicle)">
    Select vehicle
  </button>
</div>
